{% load static %}

<html lang="en">
<head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
{% include "navmenu.html" %}
<main class="flex-shrink-0">
    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="footer mt-auto py-3">
    <div class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2021 MayIT, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </div>
</footer>
<script src="{% static 'css/bootstrap.min.js' %}"></script>
</body>
</html>
