{% extends "base.html" %}

{% block content %}
<h1 align="center">Products from the best brands!</h1>
<br>
<br>
<br>
<section>
    <div class="row">
        {% for item in object_list %}
        <div class="col">
            <div class="view overlay">
                <img height="80px" src="{{ item.img.url }}">
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
