<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center text-dark text-decoration-none" href="/">
            <span class="fs-4">IT Marketplace</span>
        </a>
        <a class="nav-link active me-md-auto" href="{% url 'users:login' %}">
            <svg class="bi bi-door-open" fill="currentColor" height="26" viewBox="0 0 16 16" width="26"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
            </svg>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a aria-current="page" class="nav-link active" href="{% url 'goods:home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'goods:products' %}">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'goods:vendors' %}">Vendors</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'goods:categories' %}">Categories</a></li>
        </ul>
    </header>
</div>
