{% extends "base.html" %}

{% block content %}
<h1>Categories</h1>
<br>
<ul>
    {% for item in object_list %}
    <li>
        <a href="{% url 'goods:category_detail' category_id=item.category.id %}">{{item.category.name}}</a>
    </li>
    {% endfor %}
</ul>
<br>
<div class="row">
    <div class="col-1">
        <a aria-disabled="true" class="btn btn-warning btn-lg" href="/products/" role="button" tabindex="-1">Back</a>
    </div>
</div>
{% endblock %}
