{% extends "base.html" %}
{% block title %}
{{object.name}}
{% endblock %}

{% block content %}
<div class="bg-light p-5 rounded">
    <h2>{{object.vendor}} {{object.name}}</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{object.img.url}}" width="200px">
            </div>
            <div class="col-8">
                {{object.description}}
                <br>
                <br>
                <div>
                    <button class="btn btn-primary" type="button">
                        <svg class="bi bi-cart-check" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                        </svg>
                        {{object.cost}}$
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <a aria-disabled="true" class="btn btn-warning btn-lg" href="/products/" role="button" tabindex="-1">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
